<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA73k7OHhkd1uS-IMb3yO2lE4VwB5IqUWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>492784035117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-example-3d1d6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-example-3d1d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492784035117:ios:5f6933268263c79f6e1fa4</string>
</dict>
</plist>